version: "3.9"
services:
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - ./.docker/mongo:/data/db
  backend:
    image: node:20
    working_dir: /usr/src/app
    volumes:
      - ./backend:/usr/src/app
      - ./tests:/usr/src/app/tests
    environment:
      - MONGO_URI=mongodb://mongo:27017/sdet
      - PORT=4000
    command: sh -c "npm install && npm run dev"
    ports:
      - "4000:4000"
    depends_on:
      - mongo
